body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden !important;
    z-index: 0;
}

.navBar {
  margin-left: 5%;
  margin-right: 5%;
}

.topnav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
  }


.col{
  text-align: center;
}
  
.navlinks {
    margin-left: 5%;
    display: inline;
}

.nav-brandc img {
  margin-top: -2%;
  width: 100%;
}

  .nav-linkc {
    padding: 4% 5%;
    margin-left: 3%;
    color: grey;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
  }


  .nav-buttonc {
      padding: 4% 5%;
      margin-left: -2%;
      margin-top: -2%;
      text-align: center;
      font-size: 15px;
      color: white;
      background-color: green;
      border-radius: 15px;
      border: none;
  }

  
  .nav-linkc:hover {
    color: green;
  }
  
  .topnav a.activec {
    color: black;
  }
  

  .topnav .iconc {
    display: none;
  }
  
  @media screen and (max-width: 600px) {

    .topnav {
      margin-top: 4%;
      margin-bottom: 4%;
    }
    .nav-itemc{display: none;}
    .topnav .iconc {
      float: right;
      display: block;
    }

    .topnav .nav-brandc img {
      width: 100;
    }
  }
  
.custom-form-control,.custom-form-control-half {
  border: 1px solid grey;
  border-radius: 6px;
  text-decoration: none;

  color: grey;
  background: none;
  width: 100%;
  text-align: left;
}

.custom-form {
  margin-left : 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.custom-form-control i.custom {
  width: 5%;
  padding: 2%;
}

.custom-form-control i.arrow {
  padding: 2%;
  float: right;
}

.custom-form-control i {
  color: black;
}

.custom-form-control-half i.custom {
  width: 10%;
  padding: 4%;
}

.custom-form-control-half i.arrow {
  padding: 4%;
  float: right;
}

.custom-form-control-half i {
  color: black;
}



.custom-form .col-sm {
  margin-bottom: 5%; 
  text-align: left;
}



.footer{
  background-color: green;
  width: 100%;
  padding-top: 10%;
  z-index: -10000000;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

.footer .border-row {
  border-bottom: 1px solid black;
}

.footer .border-column {
  border-right: 1px solid black;
}

.footer .row {
  padding: 2%;
}

.footer h1,h2,h3,p {
  padding-bottom: 2%;;
}


.custom-form-control-half button {
  text-decoration: none;
  border: none;
  color: grey;
  background: none;
  width: 100%;
  text-align: left;
}

.custom-form-control-half input {
  text-decoration: none;
  border: none;
  color: grey;
  background: none;
  padding-top: 3%;
  width: 90%;
  float: right;
  text-align: left;
}

.dropdown-menu{
  width: 90%;
}

.custom-form-control select:active,select:hover {
  outline: none;
}

.custom-form-control::after,.custom-form-control-half::after { 
  content: none !important; 
} 




  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .iconc {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive .nav-brandc {
        display: block;
        margin-bottom: 2%;
    }

    .topnav.responsive .nav-linkc{
      display: block;
      padding: 2%;
      text-align: left;
    }

    .topnav.responsive .nav-buttonc{
      margin-top: 2%;
      padding: 2%;
      display: block;
      text-align: left;
    }

    .topnav.responsive .navlinks {
        margin-top: 5%;
        display: block;
        text-align: left;
    }

  }
  